rom/*.nes
rom/*.zip
output/*.nes
output/*.ips
!output/kunio_period_drama_korean_prg_plan_v0.4_equal_length_static.ips
!output/kunio_period_drama_korean_prg_plan_v0.4.1_conflict_safe.ips
tools/
rom_analysis/chr/
rom_analysis/font/
rom_analysis/fceux_lua/*.bin
rom_analysis/fceux_bank1_watch*/
rom_analysis/fceux_v04_equal_length_watch_long/
rom_analysis/disasm_6502_output.txt
__pycache__/
.DS_Store
